<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
  IgnorableNamespaces="uap desktop6">
  <Identity Name="com.aimemory.windows" Publisher="CN=AI Memory" Version="0.1.0.0" />
  <Properties>
    <DisplayName>AI Memory</DisplayName>
    <PublisherDisplayName>AI Memory</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.22000.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Resources>
    <Resource Language="zh-CN" />
    <Resource Language="en-US" />
  </Resources>
  <Applications>
    <Application
      Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="AI Memory"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Square150x150Logo="Assets\Square150x150Logo.png" />
      <Extensions>
        <desktop6:Extension
          Category="windows.startupTask"
          Executable="$targetnametoken$.exe"
          EntryPoint="Windows.FullTrustApplication">
          <desktop6:StartupTask
            TaskId="AIMemoryStartup"
            Enabled="false"
            DisplayName="AI Memory" />
        </desktop6:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
